<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="账号" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1hdl文件路径" serializeAs="String">
                <value>相机1深度学习模板\model_训练-260518-135257_1_opt.hdl</value>
            </setting>
            <setting name="相机1hdict文件路径" serializeAs="String">
                <value>相机1深度学习模板\model_训练-260518-135257_1_opt_dl_preprocess_params.hdict</value>
            </setting>
            <setting name="相机2hdl文件路径" serializeAs="String">
                <value>相机2深度学习模板\model_训练-260518-104059_opt.hdl</value>
            </setting>
            <setting name="相机2hdict文件路径" serializeAs="String">
                <value>相机2深度学习模板\model_训练-260518-104059_opt_dl_preprocess_params.hdict</value>
            </setting>
            <setting name="相机1图片保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2图片保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3图片保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3hdl文件路径" serializeAs="String">
                <value>相机3深度学习模板\model_训练-260520-113859_opt.hdl</value>
            </setting>
            <setting name="相机3hdict文件路径" serializeAs="String">
                <value>相机3深度学习模板\model_训练-260520-113859_opt_dl_preprocess_params.hdict</value>
            </setting>
            <setting name="相机1模板数量" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机1对比度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机1匹配度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机2模板数量" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机2对比度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机2匹配度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机3模板数量" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机3对比度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机3匹配度" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="相机4图片保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4hdl文件路径" serializeAs="String">
                <value>相机3深度学习模板\model_训练-260520-113859_opt.hdl</value>
            </setting>
            <setting name="相机4hdict文件路径" serializeAs="String">
                <value>相机3深度学习模板\model_训练-260520-113859_opt_dl_preprocess_params.hdict</value>
            </setting>
            <setting name="权限时间设置" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="相机数量设置" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="图片删除时间" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4模板数量" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4对比度" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4匹配度" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1总数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1OK数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1NG数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2总数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2OK数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2NG数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3总数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3OK数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3NG数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4总数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4OK数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4NG数" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1OK图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1NG图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2OK图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2NG图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3OK图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3NG图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4OK图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4NG图保存路径" serializeAs="String">
                <value />
            </setting>
            <setting name="显示密码的勾取" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="保存密码的勾取" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="密码" serializeAs="String">
                <value />
            </setting>
            <setting name="相机1配方地址" serializeAs="String">
                <value />
            </setting>
            <setting name="相机2配方地址" serializeAs="String">
                <value />
            </setting>
            <setting name="相机3配方地址" serializeAs="String">
                <value />
            </setting>
            <setting name="相机4配方地址" serializeAs="String">
                <value />
            </setting>
            <setting name="设置" serializeAs="String">
                <value />
            </setting>
            <setting name="当前料号" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>